doctype html
head
  title Interactive VN HUD
  style.
    @import url("https://p.typekit.net/p.css?s=1&k=vnd5zic&ht=tk&f=39475.39476.39477.39478.39479.39480.39481.39482&a=18673890&app=typekit&e=css");
    @font-face {
    font-family: "neo-sans";
    src: url("https://use.typekit.net/af/00ac0a/00000000000000003b9b2033/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"), url("https://use.typekit.net/af/00ac0a/00000000000000003b9b2033/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"), url("https://use.typekit.net/af/00ac0a/00000000000000003b9b2033/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
    font-style: normal;
    font-weight: 700;
    }
    html {
    font-family: neo-sans;
    font-weight: 700;
    font-size: 2rem;
    }
    h1 {
    text-align: center;
    }
    body {
    background: white;
    }
    label {
    font-size: .5rem;
    }
    section.content {
    border-radius: 1em;
    padding: 1em;
    display:flex;
    justify-content: center;
    flex-direction:column;
    align-items: center;
    }
    section.login {
    border-radius: 1em;
    padding: 1em;
    top: 10%;
    left: 50%;
    display:flex;
    justify-content: center;
    }
  h1 Interactive VN HUD
  section.content
    iframe(
      src='https://widgets.streamelements.com/host/640510a977ccc31338e95181/91a1a5e7-814f-4362-b578-8f4a543ac63c/epPBvwhIyImRxQFn0ZWH0sBN_D01Dt232Zrrg3EEx0eSER_p' 
      style='border:none;height:110px;width:600px;overflow:hidden;' 
      title='Story Bar'
      )
    | Welcome! Please enter your display name here:
    section#login.login
    form(action='/in' method='POST')
      label(for='username') Username: 
      input#username(type='text' name='username' value='') 
      label(for='password') !{' '} Password: 
      input#password(type='text' name='password' value='')
      button#loginButton Confirm
    p #{msg}