doctype html
head
  title Interactive VN HUD
  link(href='https://fonts.googleapis.com/css?family=Nunito Sans' rel='stylesheet')
  style.
    @font-face {
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    }
    html {
    font-family: 'Nunito Sans';
    font-weight: 700;
    font-size: 2rem;
    color: #9e6a5c;
    }
    h1 {
    background: #ede0dc;
    text-align: center;
    }
    body {
    background:white;
    }
    label {
    font-size: .5rem;
    }
    section.content {
    border-radius: 1em;
    padding: 1em;
    display:flex;
    justify-content: center;
    flex-direction:column;
    align-items: center;
    }
    section.textbox {
      background:#ede0dc;
      border-radius: .5em;
      padding: 1em;
    }
    section.login {
    border-radius: 1em;
    padding: 1em;
    top: 10%;
    left: 50%;
    display:flex;
    justify-content: center;
    }
    #loginButton {
      margin-left: 10px;
      color: #9e6a5c;
      border-color: #9e6a5c65;
      background:#ede0dc;
      border-style:double;
    }
    form {
      text-align: center;
    }
    .textbox {
      border:none;
      padding:.2em;
    }

  h1 Interactive VN HUD
  section.content
    iframe(
      src='/bar'
      style='border:none;height:250px;width:810px;overflow:hidden;'
      title='Progress Bar'
      )
    section.textbox
      | Welcome! Please enter your name and the site password:
      section#login.login
      form(action='/in' method='POST')
        label(for='username') Username: 
        input#username.textbox(type='text' name='username' value='') 
        label(for='password') !{' '} Password: 
        input#password.textbox(type='text' name='password' value='')
        button#loginButton Confirm
      p #{msg}