doctype html
html
  head
    title Interactive VN HUD
    style.
      @import url("https://p.typekit.net/p.css?s=1&k=vnd5zic&ht=tk&f=39475.39476.39477.39478.39479.39480.39481.39482&a=18673890&app=typekit&e=css");
        @font-face {
        font-family: "neo-sans";
        src: url("https://use.typekit.net/af/00ac0a/00000000000000003b9b2033/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"), url("https://use.typekit.net/af/00ac0a/00000000000000003b9b2033/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"), url("https://use.typekit.net/af/00ac0a/00000000000000003b9b2033/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
        font-style: normal;
        font-weight: 700;
        }
        html {
        font-family: neo-sans;
        font-weight: 700;
        font-size: 2rem;
        text-align: center;
        }
        body {
        background: white;
        }
        label {
        font-size:.875rem;
        }
        section.content {
        border-radius: 1em;
        padding: 1em;
        display:flex;
        justify-content: center;
        flex-direction:column;
        align-items: center;
        }
        section.controls {
        padding: .1em;
        left: 50%;
        display:flex;
        justify-content: center;
        }
        section.historyLog {
        border-radius: 1em;
        padding: 1em;
        display:flex;
        justify-content: center;
        flex-direction:column;
        align-items: center;          
        }
        table {
          font-size: .5rem;
          border-collapse: collapse;
          border-spacing: 0;
          width:50%; 
          border: 1px solid #ddd;
        }
        th, td {
        text-align: left;
        padding: 1em;
        }
        tr:nth-child(even) {
        background-color: #f2f2f2;
        }
  body
    h1 Interactive VN HUD
    section.content
      iframe(
        title="Story Bar" 
        style="border:none;height:110px;width:600px;" 
        src="https://widgets.streamelements.com/host/640510a977ccc31338e95181/91a1a5e7-814f-4362-b578-8f4a543ac63c/epPBvwhIyImRxQFn0ZWH0sBN_D01Dt232Zrrg3EEx0eSER_p"
        )
      h2 Control Panel - #{user}
      section#controls.controls
        form(action='/main' method='POST')
          label(for="changeType") Answer Type: 
          select#changeType(name="changeType")
            option(value="-1") ---
            option(value="0") BAD
            option(value="1") OK
            option(value="2") GOOD
          button#submitButton(style='margin-left: 1em;') Submit
          p #{msg}
      section#controls.controls
    section#historyLog.historyLog
      h2 History Log
      table
        tr
          th Change ID
          th Username 
          th Change Type 
          th Total

        each row in tableData
          tr
            td= row.change_id
            td= row.username 
            td= row.change_type 
            td= row.total
          
      section#controls.controls
      p Do not use this panel unless you know what you're doing!
        form(action='/set' method='POST')
          label(for="changeType") 
          select#changeType(name="changeType")
            option(value="-1") ---
            option(value="4") Set
          label(for="total") !{' '}Set Total: 
          input#total(size="5" name="total" )
          button#submitButton(style='margin-left: 1em;') Submit